.miniweather{
    display: flex;
    flex-flow: row;
    width: 50%;
    height: 120px;
    margin: auto;
    margin-top: 15px;
    align-items: center;
    overflow-x: auto;


}

.day-button{
    display: flex;
    flex-basis: 20%;
    position:relative;
    box-sizing: border-box;
    flex-flow: column wrap;
    height: 100%;
    background-color: white;
    border:0 ;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 1px;
    
    
}

.day-button a{
    position:absolute;
    width: 100%;
    height: 100%;
}

.day-button a:focus{
    border: 3px solid rgb(0,150,220);
    
}

.day-button img{
    display: block;
    width: 35px;
    height: 35px;
}

.day{
    font-size: 15px;
}

.short-weather{
    color: rgba(100,100,100,0.8);
}

.second-temp{
    color: rgba(100,100,100,0.8);
}


@media screen and (max-width:1000px){
    
    .miniweather{
        width: 70%;
    }
    .day-button{
        min-width: 20%;
    }
}

@media screen and (max-width:750px){
    
    .miniweather{
        width: 75%;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
    .day-button{
        min-width: 20%;
    }
}

@media screen and (max-width:650px){
    
    .miniweather{
        width: 95%;
        
    }
    
}





